<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Settings</title>
</head>
<body>
    <h2>Settings</h2>
    <form th:action="@{/exercise_1/settings/save}" th:object="${emailSettings}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <p>
            Languages:
            <select th:field="*{language}">
                <option th:each="lang: ${languages}" th:value="${lang}" th:text="${lang}"></option>
            </select>
        </p>
        <p>
            Page Size:
            <select th:field="*{pageSize}">
                <option th:each="size: ${pageSizes}" th:value="${size}" th:text="${size}"></option>
            </select>
        </p>
        <p>
            Spams Filter:
            <input type="checkbox" th:field="*{spamsFilter}"/> Enable spams filter
        </p>
        <p>
            Signature:
            <textarea th:field="*{signature}" rows="5" cols="30"></textarea>
        </p>

        <button type="submit">Save</button>
        <a th:href="@{/exercise_1/settings/list}" class="button">Cancel</a>
    </form>
</body>
</html>